/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* Our Package Section Start */

.our-package-section {}

.section-heading {
    color: #0A0826;
    font-weight: 500;
    font-size: 38px;
    text-transform: capitalize;
}

.choose-plan-card {
    border-radius: 15px;
    transition: all 0.4s;
    position: relative;
    border: 1px solid #0000000f;
}

.choose-plan-card span {
    position: absolute;
    top: -12px;
    right: 20px;
    background: #FF4E4E;
    border-radius: 13.5px;
    padding: 2px 20px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 900;
}

.choose-plan-card:hover {
    background-color: #3F87F5;
    position: relative;
    bottom: 20px;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
}

.choose-plan-card:hover li,
.choose-plan-card:hover p {
    color: rgba(255, 255, 255, 0.791);
}

.choose-plan-card:hover h3,
.choose-plan-card:hover h4 {
    color: rgb(255, 255, 255);
}

.choose-plan-card:hover li i {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

.choose-plan-card ul {}

.choose-plan-card .my-plan-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 700!important;
    font-size: 15px;
    color: #3F87F5!important;
}

.choose-plan-card p {
    color: #848199;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

.choose-plan-card h4 {
    font-family: 'Roboto', sans-serif;
    color: #231D4F;
    font-weight: 900;
}

.choose-plan-card h3 {
    font-family: 'Roboto', sans-serif;
    color: #231D4F;
    font-weight: 900;
}

.choose-plan-card ul li {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    color: #848199;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.8;
    display: flex;
    align-items: center;
}

.choose-plan-card ul li i {
    color: #5243c2;
    font-size: 7px;
    background: #5243c224;
    height: 14px;
    width: 14px;
    text-align: center;
    line-height: 14px;
    border-radius: 50%;
    margin-right: 10px;
}


/* Our Package Section End */


/* Our Clients Section Start */

.clients-section {}

.clients-section .card-body h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #0C1920;
    margin-top: 15px;
    margin-bottom: 0;
}

.clients-section .card-body span {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #747474;
}

.clients-section .card-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.2px;
    color: #6C6C6C;
    padding: 5px 15px;
}


/* Our Clients Section End */