/* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* Header Start */

header {}

.navbar-light .navbar-toggler-icon {
    background-image: url(../icons/menu-2\ 1.svg);
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
    border: 1px solid #3f88f532;
    ;
}

.my-menu {}

.my-menu li {}

.my-menu li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #3E3E3E!important;
}

.my-menu li a:hover {
    color: #3F87F5!important;
}


/* Header End */


/* moment-section start */

.moment-section {}

.moment-section h2 {
    font-family: 'Roboto', sans-serif;
    color: #0A0826;
    font-weight: 700;
}

.moment-section p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    color: #6C6C6C;
}

.moment-section button {
    background-color: #3F87F5!important;
    color: #fff;
    border: 1px solid #3F87F5;
    text-transform: capitalize;
}

.moment-section button i {
    margin-left: 10px;
}

.moment-section button:hover {
    color: #3F87F5!important;
    background-color: #fff!important;
    border: 1px solid #3F87F5;
}


/* moment-section end */


/* Our Package Section Start */

.our-package-section {}

.section-heading {
    color: #0A0826;
    font-weight: 500;
    font-size: 38px;
    text-transform: capitalize;
}

.choose-plan-card {
    border-radius: 15px;
    transition: all 0.4s;
    position: relative;
    border: 1px solid #0000000f;
    background-image: url(../icons/watermark.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

.choose-plan-card span {
    position: absolute;
    top: -12px;
    right: 20px;
    background: #FF4E4E;
    border-radius: 13.5px;
    padding: 2px 20px;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 900;
}

.choose-plan-card:hover {
    background-color: #3F87F5;
    position: relative;
    bottom: 20px;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
}

.choose-plan-card:hover li,
.choose-plan-card:hover p {
    color: rgba(255, 255, 255, 0.791);
}

.choose-plan-card:hover h3,
.choose-plan-card:hover h4 {
    color: rgb(255, 255, 255);
}

.choose-plan-card:hover li i {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

.choose-plan-card ul {}

.choose-plan-card .my-plan-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 700!important;
    font-size: 15px;
    color: #3F87F5!important;
}

.choose-plan-card p {
    color: #848199;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

.choose-plan-card h4 {
    font-family: 'Roboto', sans-serif;
    color: #231D4F;
    font-weight: 900;
}

.choose-plan-card h3 {
    font-family: 'Roboto', sans-serif;
    color: #231D4F;
    font-weight: 900;
}

.choose-plan-card ul li {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    color: #848199;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.8;
    display: flex;
    align-items: center;
}

.choose-plan-card ul li i {
    color: #5243c2;
    font-size: 7px;
    background: #5243c224;
    height: 14px;
    width: 14px;
    text-align: center;
    line-height: 14px;
    border-radius: 50%;
    margin-right: 10px;
}


/* Our Package Section End */


/* Our Clients Section Start */

.clients-section {}

.clients-section .card-body h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #0C1920;
    margin-top: 15px;
    margin-bottom: 0;
}

.clients-section .card-body span {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #747474;
}

.clients-section .card-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.2px;
    color: #6C6C6C;
    padding: 5px 15px;
}


/* Our Clients Section End */


/* call-to-action section strat */

.call-to-action {
    min-height: 400px;
    background-image: url(../images/call-to-action.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.call-to-action::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    z-index: 1;
}

.call-to-action-content {
    z-index: 2;
}


/* call-to-action section end */


/* FAQ Section Start */

.faq-question {}

.faq-question h2 {}

.faq-question button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #383838;
}

.faq-answer {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.8;
    /* or 175% */
    color: #7E848C;
}


/* FAQ Section End */


/* Footer Start */

footer {
    background-color: #0B0D17;
}

footer p {
    color: #D9DBE1;
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.download-btns h6 {
    color: #D9DBE1;
    font-weight: 300;
    font-size: 14px;
}

.get-app {
    background-color: #000;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #fff;
}

.get-app:hover {
    border: 1px solid rgb(2, 213, 250);
}

.get-app img {
    width: 85px;
}


/* Footer End */


/* Media Query */

@media only screen and (max-width: 768px) {
    .section-heading {
        margin-top: 25px;
        font-size: 26px;
        font-weight: 700;
    }
}